
/* Changes the color of the body, article, and horizontalNavigation style*/
body {
    background-image: linear-gradient(to right, #002402, #002D3B);
}

body > article {
    background-color: #220929;
    color: white;

}

/* Navigation background colors */

body > header > nav.horizontalNavigation li {
    background-color: #441452;
    color: white;
}

body > header > nav.horizontalNavigation li a {
    background-color: #441452;
    color: white;
}

/* Section column background colors */

section#leftColumn1 {
    background-color: #220929;
}

section#rightColumn {
    background-color: #220929;
}

section#leftColumn2 {
    background-color: #220929;
}

/* footer background color */

footer {
    background-image: linear-gradient(to right, #002D3B, #692800 );
    color: white;
}

footer p#footerLeft a {
    color: white;
}

footer p#footerCenter a {
    color: white;
    text-decoration: none;
}