
#navigation1:hover {
    background: linear-gradient(to right, #ff6200 10%, #FF97F6 30%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navigation2:hover {
    background: linear-gradient(to right, #6AC6FF 30%, #FF97F6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

body > header > nav.horizontalNavigation li {
    background-color: #441452;
    color: white;
}

body > header > nav.horizontalNavigation li a {
    background-color: #441452;
    color: white;
}


html {
    background-image: linear-gradient(to right, #053d00 10%, #023b3d 50%);
}

body {
    background-color: #0a2221;
}

h1 {
    color: white;
}

p{
    color:white;
}

h2 {
    color: white;
}

/* footer background color */

footer {
    background-image: linear-gradient(to left, #0e2909 20%, #694d00 );
    color: white;
}

footer h1 {
    background: linear-gradient(to left, rgb(162, 0, 255), rgb(255, 174, 0) 71%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
    font-style: bold;
}

footer p#footerLeft a {
    color: white;
}

footer p#footerCenter a {
    color: white;
}

footer #footerLeft a:hover{
    background: linear-gradient(to right, #09ff00 10%, #00ffff 30%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer #footerCenter a:hover {
    background: linear-gradient(to right, #eeff00 10%, #ff7b00 30%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}