
/* Changes the color of the body, article, and horizontalNavigation style*/
body {
    background-image: linear-gradient(to right, #002402, #002D3B);
}

body > article {
    background-color: #220929;
    color: white;

}

/* Navigation background colors */

#navigation1 {
    background: linear-gradient(to right, #ff6200 10%, #FF97F6 30%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

body > header > nav.horizontalNavigation li {
    background-color: #441452;
    color: white;
}

body > header > nav.horizontalNavigation li a {
    background-color: #441452;
    color: white;
}

/* Section column background colors */

section#leftColumn1 {
    background-color: #220929;
}

section#rightColumn {
    background-color: #220929;
}

section#leftColumn2 {
    background-color: #220929;
}

/* footer background color */

footer {
    background-image: linear-gradient(to right, #002D3B, #692800 );
    color: white;
}

footer a {
    color: white;
}

footer #footerLeft a:hover{
    background: linear-gradient(to right, #09ff00 10%, #00ffff 30%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer #footerCenter a:hover{
    background: linear-gradient(to right, #eeff00 10%, #ff7b00 30%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}