
/*font styles*/

@font-face {
    font-family: 'BBH';
    src: url(../fonts/BBHSansHegarty-Regular.ttf) format('truetype');

    font-family: 'Chango';
    src: url(../fonts/Chango-Regular.ttf) format('.ttf')
}




/* Body styles */
body > header > a > img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    max-height: 200px;
}
body {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1300px;
}

/* Horizontal Navigation styles */

nav.horizontalNavigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav.horizontalNavigation ul li {
    float: left;
    padding: 14px 122.37px;
    font-family: "BBH", sans-serif;
    font-style: bold;
}

nav.horizontalNavigation ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

/* article styles*/

body article {
    margin: 0;
}


/* left side column styles*/

section#leftColumn1 {
    float: left;
    width: 100%;
    text-align: center;
}

section#leftColumn1 p {
    margin-top: 275px;
}

section#leftColumn1 img{
    float: right;
    width: 50%;
    height: 100%;
    margin-top: 20px;
    max-height: 600px;
    border-radius: 50%;
}

section#leftColumn2 {
    float: right;
    width: 100%;
    text-align: center;
}

section#leftColumn2 p {
    margin-top: 275px;
}

section#leftColumn2 img{
    float: left;
    width: 50%;
    height: 50%;
    margin-top: 20px;
    max-height: 600px;
    border-radius: 50%;
}



/* right side column styles */
section#rightColumn{
    float: right;
    width: 100%;
}

section#rightColumn img {
    display: block;
    width: 30%;
    float: right;
}

/* centered column styles */
section#centerImage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 100%;
    border-radius: 50%;
}

/* footer styles */

footer {
    padding-bottom: 1px;
    margin-bottom: -15px;
}
footer h1 {
    text-align: center;

    /*Changes the font to be the Chango font*/
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer a {
    text-decoration: none;
}

#footerLeft {
    width: 200px;
    margin-left: 75px;
    text-align: center;
    font-family: "BBH", sans-serif;
}

#footerCenter {
    text-align: center;
    width: 200px;
    font-family: "BBH", sans-serif;
}

.Bronx {
    position: absolute;
    translate: 545px -120px;
}

.Serpent {
text-align: center;
    width: 200px;
    position: absolute;
    translate: 545px -85px;
}
